*{
  font-size: 13px;
}
#template {  font: 14px/1.4 sans-serif; width: 210mm; margin: 0 auto; background-color: #31859b;}
#template .react-select__control .react-select__single-value{ color: #eee !important;}
#template .react-select__control{ border: 0; font-weight: 700;}
#template .react-select__control div{ display: flex; flex-direction: column; justify-content: center; align-items: center;  background: #31859b; color: #eee}
#template .react-select__control .react-select__indicators { display: none; }
#style-select .react-select__control .react-select__single-value{ font-size: 18px; font-weight: 900; color: #000 !important;}
#style-select .react-select__control { border: 0;}
/* #style-select .react-select__control div{ color: #000} */
#style-select .react-select__control .react-select__indicators { display: none; }
#style-select .react-select__value-container { padding: 0 !important}

#style-select-customer .react-select__control .react-select__single-value{ font-size: 13px; color: #000 !important;}
#style-select-customer .react-select__control { border: 0;}
/* #style-select-customer .react-select__control div{ color: #000} */
#style-select-customer .react-select__control .react-select__indicators { display: none; }
#style-select-customer .react-select__value-container { padding-left: 39px !important}

#select-description {height: 26px !important; display: flex; flex-direction: row; justify-content: start; align-items: center;}
#select-description .react-select__control .react-select__single-value{ font-size: 13px; color: #000 !important;}
#select-description .react-select__control { border: 0;}
#select-description .title-size{ width:6rem; }
/* #select-description #lov{ width:6rem;} */

#select-unit .react-select__control.react-select__control--is-disabled {background: #fff !important;}
#select-unit .react-select__control .react-select__single-value{ font-size: 13px; color: #000 !important;width: 60%; text-align: center;}
#select-unit .react-select__control {width: 100%; border: 0; min-height: auto !important;}
#select-unit .react-select__control .react-select__indicators { display: none; }
/* #select-unit .react-select__value-container { height: 10px;}
#select-unit .react-select__value-container :nth-child(2) { display: none; } */

/* #select-description .react-select__control div{ color: #806d6d} */
#select-description .react-select__control .react-select__indicators { display: none; }
#select-description .react-select__value-container { width: 18rem; }


#page-wrap { font: 14px/1.4 sans-serif; width: 210mm; min-height: 297mm; margin: 0 auto; padding: 20px 20px 20px 20px; }
#page-wrap { height: 100%; display: none; flex-direction: column; justify-content: space-between;}

#page-wrap textarea { border: 0; font: 14px sans-serif; overflow: hidden; resize: none; }
#page-wrap table { border-collapse: collapse; }
#page-wrap table td, #page-wrap table th { border: 1px solid black; padding: 5px; }
#page-wrap a { cursor: pointer; }

/* #header { height: 35px; width: 100%; margin: 20px 0; background: #222 !important; text-align: center; color: white; font: bold 15px Helvetica, Sans-Serif; text-decoration: uppercase; letter-spacing: 20px; padding: 8px 0px; } */

#logo { text-align: right; float: right; position: relative; margin-top: 25px; border: 1px solid #fff; max-width: 540px; max-height: 100px; overflow: hidden; }
#logoctr { display: none; }
#logohelp { text-align: left; display: none; font-style: italic; padding: 10px 5px;}
#logohelp input { margin-bottom: 5px; }
.edit #logohelp { display: block; }
.edit #save-logo, .edit #cancel-logo { display: inline; }
.edit #image, #save-logo, #cancel-logo, .edit #change-logo, .edit #delete-logo { display: none; }
#customer-title { font-size: 20px; font-weight: bold; float: left; }
#meta { margin-top: 1px; width: 300px; float: right; }
#meta td { text-align: right;  }
#meta td.meta-head { text-align: left; background: #eee; }
#meta td textarea { width: 100%; height: 20px; text-align: right; }

#items { clear: both; width: 100%; margin: 30px 0 0 0; border: 0px solid black; }
#items-detail { clear: both; width: 100%; border: 1px solid black; }
#items th { background: #eee; }
#items .th-col div {font-size: 12px; text-align: center;}
/* #items tr.item-row td { height: 10px; } */
#items td.item-num input {  border: 0; width: 20px; vertical-align: middle; text-align: center;}
#items td.item-code input {  border: 0; width: 100px; vertical-align: middle; text-align: start;}
#items td.item-description input {  border: 0; width: 320px; vertical-align: middle; text-align: start;}
#items td.item-quantity input {  border: 0; width: 50px; vertical-align: middle; text-align: center;}
#items td.item-unit {width: 80px; vertical-align: middle; text-align: center;}
#items td.item-unit input {  border: 0; width: 65px; vertical-align: middle; text-align: center;}
#items td.item-price-unit input {  border: 0; width: 50px; vertical-align: middle; text-align: center;}
/* #items td.item-amount textarea { width: 50px; vertical-align: middle; text-align: center;} */
#items td.total-line { border: 0; text-align: left; }
#items td.deli-line {border: 0; text-align: left; display: flex; flex-direction: row; gap: 10px; }
#items td.total-value { padding: 10px; }
#items td.total-value textarea { height: 20px; background: none; }
#items td.balance { background: #eee; }
#items td.blank { border: 0; }
#items td.blank-last { border: 0; border-bottom: 1px solid #000; }

#terms { text-align: center; }
#terms h5 { text-transform: uppercase; font: 13px Helvetica, Sans-Serif; letter-spacing: 10px; border-bottom: 1px solid black; padding: 0 0 8px 0; margin: 0 0 8px 0; }
#terms textarea { width: 100%; text-align: center;}
#terms .group-signature {display: flex; flex-direction: row; justify-content: space-evenly;}
#terms .group-signature .signature {display: flex; flex-direction: column; justify-content: space-evenly; gap: 10px;}
#terms .group-date {display: flex; flex-direction: row; justify-content: center; gap: 2rem;}

#page-wrap textarea:hover, #page-wrap textarea:focus, #items td.total-value textarea:hover, #items td.total-value textarea:focus, .delete:hover { background-color:#f2efcf; }

.delete-wpr { position: relative;}
.delete { display: block; color: #000; text-decoration: none; position: absolute; background: #ffffff; font-weight: bold; padding: 0px 3px; border: 1px solid; border-bottom-left-radius: 5px; border-top-left-radius: 5px; top: -2px; left: -22px; font-family: Verdana; font-size: 12px; }

#placeholderAlert::placeholder {color: red; opacity: 0.7; font-size: 11px;}

@page {
  size: A4 portrait;
}

@media print {
  #hiderow,
  .delete {
    display: none;
  }

  #page-wrap {
    display: flex;
  }

  /* Date picker */
  .rmdp-container div:nth-child(2){
    display: none;
  }

  .page-break {
    page-break-after: always;
  }
  .note {
    display: none;
  }

  .react-select__placeholder{
    display: none;
  }
}


/* ---  Autocomplete  -- */
#react-autowhatever-1 {
  width: 24.2rem;
}

#hide {
  position: absolute;
  opacity: 0;
  z-index: -100;
  white-space: pre;
}

#bidder {
  min-width: 180px;
  padding: 1px 4px;
  text-align: center;
  border: none;
  margin: 0px 2px;
}

#inputProp{
  min-height : 0px !important
}

#seal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 100%;
  width: 5rem;
  height: 4.4rem;
  margin-left: 1rem;
}