/* tbody {
    display:block;
    max-height:15rem;
    overflow:auto;
    padding: 0.5rem 0.5rem;
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgb(196 196 196 / 30%);
    }

    &::-webkit-scrollbar-thumb {
        background: #a1a1a1;
        border-radius: 5px;
    }
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 3rem )
}

tr {
    margin: 10px 0;
} */
