.custom-input-container {
  position: relative;
}

.placeholder-text {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the right position as needed */
  transform: translateY(-50%);
  color: #999; /* Adjust the color as needed */
  pointer-events: none;
}
